

body{
	background-color: 222222;
	font: arial;
	font-size: 12px;
}
p{
font-size:14px;
color:#999999
}

h1{
font-size:36px;
}

h2{
font-size:24px;
}

ul{
border-left:5px #990000 solid;
}

li{
color:#666666;
font-size:12px
line-height:1.5;
}
